<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Le Portail de la Formation{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{ asset('css/animate.css')}}">
        <link href="{{ asset('css/animate.min.css')}}" rel="stylesheet">
        <link href="{{ asset('css/style.css')}}" rel="stylesheet" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

    <header id="header">
        <nav class="navbar navbar-default navbar-static-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand">
                        <a href="{{ path('home') }}"><h1>Le Portail</h1></a>
                    </div>
                </div>
                <div class="navbar-collapse collapse">
                    <div class="menu">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation"><a href="{{ path('home') }}" class="active">Accueil</a></li>
                            <li role="presentation"><a href="{{ path('about') }}">About Us</a></li>
                            <li role="presentation"><a href="{{ path('formation') }}">Formations</a></li>
                            <li role="presentation"><a href="{{ path('soft') }}">Softwares</a></li>
                            <li role="presentation"><a href="{{ path('contact') }}">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->
    {% block body %}
    <div class="slider">
        <div id="about-slider">
            <div id="carousel-slider" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators visible-xs">
                    <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-slider" data-slide-to="1"></li>
                    <li data-target="#carousel-slider" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active">
                        <img src="{{ asset('img/2.jpg') }}" class="img-responsive" alt="">
                        <div class="carousel-caption">
                            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
                                <h2><span>En Apprendre Toujours Plus</span></h2>
                            </div>
                            <div class="col-md-10 col-md-offset-1">
                                <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
                                    <p>Le Portail de la Formation</p>
                                </div>
                            </div>
                            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <button type="livedemo" name="Live Demo" class="btn btn-primary btn-lg" required="required">S'inscrire</button>
                                    </div>
                                    <div class="form-group">
                                        <button type="getnow" name="Get Now" class="btn btn-primary btn-lg" required="required">S'abonner</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <img src="{{ asset('img/2.jpg') }}" class="img-responsive" alt="">
                        <div class="carousel-caption">
                            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.0s">
                                <h2>Se Former Autrement</h2>
                            </div>
                            <div class="col-md-10 col-md-offset-1">
                                <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
                                    <p>Vous trouverez désormais l'ensemble du catalogue de formations</p>
                                </div>
                            </div>
                            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.6s">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <button type="livedemo" name="purchase" class="btn btn-primary btn-lg" required="required">S'inscrire</button>
                                    </div>
                                    <div class="form-group">
                                        <button type="getnow" name="subscribe" class="btn btn-primary btn-lg" required="required">S'abonner</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{ asset('img/2.jpg') }}" class="img-responsive" alt="">
                        <div class="carousel-caption">
                            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
                                <h2>Apprentissage sans limite</h2>
                            </div>
                            <div class="col-md-10 col-md-offset-1">
                                <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
                                    <p>Vous trouverez désormais l'ensemble du catalogue de formations</p>
                                </div>
                            </div>
                            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <button type="livedemo" name="purchase" class="btn btn-primary btn-lg" required="required">S'inscrire</button>
                                    </div>
                                    <div class="form-group">
                                        <button type="getnow" name="subscribe" class="btn btn-primary btn-lg" required="required">S'abonner</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>

                <a class=" right carousel-control hidden-xs"href="#carousel-slider" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div> <!--/#carousel-slider-->
        </div><!--/#about-slider-->
    </div><!--/#slider-->

    <div class="about">
        <div class="container">
            <div class="text-center">
                <h2>Découvrez notre large choix de formations</h2>
                <div class="col-md-10 col-md-offset-1">
                    <p>Nos formateurs sont des experts dont les compétences sont reconnues dans leurs domaines respectifs.
                        Ils conçoivent des formations adaptées à votre niveau et composées de courtes séquences vidéo
                        pour un apprentissage optimal.</p>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="btn-gamp"><a href="{{ path('about') }}">About Us</a></div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="gamp-btn"><a href="{{ path('contact') }}">Contact</a></div>
                </div>

            </div>
        </div>
    </div>
    <hr>

    <div class="services">
        <div class="container">
            <div class="text-center">
                <h2>Se Former Autrement</h2>
            </div>
            <div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <i class="fa fa-heart-o"></i>
                <h3>Design</h3>
                <p>Il est très facile d’apprendre le design web depuis chez vous grâce à nos formations vidéo. Apprenez l’HTML5, les CSS et JavaScript. Maîtrisez WordPress et initiez-vous aux dernières tendances du design web.</p>
            </div>
            <div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <i class="fa fa-cloud"></i>
                <h3>Marketing</h3>
                <p>Formez-vous sur un aspect spécifique du marketing, ou apprenez tout sur le SEO, les réseaux sociaux, l’e-mail marketing, etc. Planifiez une stratégie commerciale gagnante en utilisant les outils les plus performants.</p>
            </div>
            <div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                <i class="fa fa-book"></i>
                <h3>Compétences Professionnelles</h3>
                <p>Passez à la vitesse supérieure dans le développement de votre carrière. Améliorez vos compétences en communication, négociation, résolution de conflits, gestion du temps, management et leadership.</p>
            </div>
            <div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms">
                <i class="fa fa-gear"></i>
                <h3>Outils Bureautiques</h3>
                <p>Maîtrisez les outils bureautiques que vous utilisez quotidiennement, ou apprenez à utiliser des logiciels phares en entreprise pour décrocher un nouvel emploi. Ainsi, formez-vous sur Microsoft Excel, SharePoint, Google Docs, etc.</p>
            </div>
        </div>
    </div>

    <section class="action">
        <div class="container">
            <div class="left-text hidden-xs">
                <h4>PRENEZ VOTRE AVENIR EN MAIN</h4>
                <p><em>Voulez-vous booster votre carrière professionnelle ? Ou bien voulez-vous simplement apprendre ce dont vous aviez toujours rêvé ? Alors prenez votre avenir en main.</em><br><br>Nos formateurs sont des experts dont les compétences sont reconnues dans leurs domaines respectifs. Ils conçoivent des formations adaptées à votre niveau et composées de courtes séquences vidéo pour un apprentissage optimal.</p>
            </div>
            <div class="right-image hidden-xs"></div>
        </div>
    </section>

    <div class="gallery">
        <div class="text-center">
            <h2>Gallery</h2>
            <p>Vous trouverez désormais l'ensemble du catalogue de formations.</p>
        </div>
        <div class="container">
            <div class="col-md-4">
                <figure class="effect-marley">
                    <img src="{{ asset('img/8.jpg') }}" alt="" class="img-responsive"/>
                    <figcaption>
                        <h4>Phython</h4>
                        <p>Apprentissages personnalisés, cours enseignés par des professionnels du monde du travail.</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="effect-marley">
                    <img src="{{ asset('img/9.jpg') }}" alt="" class="img-responsive"/>
                    <figcaption>
                        <h4>.NET</h4>
                        <p>Apprentissages personnalisés, cours enseignés par des professionnels du monde du travail.</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="effect-marley">
                    <img src="{{ asset('img/10.jpg') }}" alt="" class="img-responsive"/>
                    <figcaption>
                        <h4>Angular</h4>
                        <p>Apprendre de nouveles framework professionnels</p>
                    </figcaption>
                </figure>
            </div>
        </div>

        <div class="container">
            <div class="col-md-4">
                <figure class="effect-marley">
                    <img src="{{ asset('img/11.jpg') }}" alt="" class="img-responsive"/>
                    <figcaption>
                        <h4>Symfony</h4>
                        <p>Apprentissages personnalisés, cours enseignés par des professionnels du monde du travail.</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="effect-marley">
                    <img src="{{ asset('img/12.jpg') }}" alt="" class="img-responsive"/>
                    <figcaption>
                        <h4>Spring</h4>
                        <p>Apprentissages personnalisés, cours enseignés par des professionnels du monde du travail.</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="effect-marley">
                    <img src="{{ asset('img/13.jpg') }}" alt="" class="img-responsive"/>
                    <figcaption>
                        <h4>Laravel</h4>
                        <p>Apprentissages personnalisés, cours enseignés par des professionnels du monde du travail.</p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
{% endblock %}
    <footer>
        <div class="container">
            <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <h4>About Us</h4>
                <p>Contatez nous sur les reseaux sociaux</p>
                <div class="contact-info">
                    <ul>
                        <li><i class="fa fa-home fa"></i>Cité el Ghazela technopole , TEK_UP, Tunis </li>
                        <li><i class="fa fa-phone fa"></i> +216 71 129900</li>
                        <li><i class="fa fa-envelope fa"></i> info@tek_up.net</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="text-center">
                    <h4>Photo Gallery</h4>
                    <ul class="sidebar-gallery">
                        <li><a href="#"><img src="{{ asset('img/gallery1.png') }}" alt="" /></a></li>
                        <li><a href="#"><img src="{{ asset('img/gallery2.png') }}" alt="" /></a></li>
                        <li><a href="#"><img src="{{ asset('img/gallery3.png') }}" alt="" /></a></li>
                        <li><a href="#"><img src="{{ asset('img/gallery4.png') }}" alt="" /></a></li>
                        <li><a href="#"><img src="{{ asset('img/gallery5.png') }}" alt="" /></a></li>
                        <li><a href="#"><img src="{{ asset('img/gallery6.png') }}" alt="" /></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                <div class="">
                    <h4>Contact</h4>
                    <p>Abonnez-vous aujourd'hui pour recevoir les dernières nouvelles de la journée par courrier électronique. Vous pouvez vous désabonner de ce service à tout moment</p>
                    <div class="btn-gamp">
                        <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter Email">
                    </div>
                    <div class="btn-gamp">
                        <a type="submit" class="btn btn-default">S'inscrire</a>
                    </div>

                </div>

            </div>
    </div>
        </footer>
    <div class="sub-footer">
        <div class="container">
            <div class="social-icon">
                <div class="col-md-4">
                    <ul class="social-network">
                        <li><a href="#" class="fb tool-tip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="twitter tool-tip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="gplus tool-tip" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="linkedin tool-tip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#" class="ytube tool-tip" title="You Tube"><i class="fa fa-youtube-play"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 col-md-offset-4">
                <div class="copyright">
                    &copy; Portail 2018 by <a target="_blank" href="http://bootstraptaste.com/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">Le Portail de La formation</a>.All Rights Reserved.
                </div>
                <!--
                    All links in the footer should remain intact.
                    Licenseing information is available at: http://bootstraptaste.com/license/
                    You can buy this theme without footer links online at: http://bootstraptaste.com/buy/?theme=Day
                -->
            </div>
        </div>
    </div>


{% block javascripts %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ asset('js/jquery.js')}}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('js/bootstrap.min.js')}}"></script>
    <script src="{{ asset('js/wow.min.js')}}"></script>
    <script>
        wow = new WOW(
                {

                }	)
                .init();
    </script>

{% endblock %}
</body>
</html>
