{% extends "base.html.twig" %}
{% block title %}Formation{% endblock %}
 {% block body%}
<div class="gallery">
    <div class="text-center">
        <h2>Gallery des formations</h2>
        <p>Vous trouverez désormais l'ensemble du catalogue de formations.</p>
    </div>
    <div class="container">
        <div class="col-md-4">
            <figure class="effect-marley">
                <img src="{{ asset('img/8.jpg')}}" alt="" class="img-responsive"/>
                <figcaption>
                    <h4>Phython</h4>
                    <p>Apprentissages personnalisés, cours enseignés par des professionnels du monde du travail.</p>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="effect-marley">
                <img src="{{ asset('img/9.jpg')}}" alt="" class="img-responsive"/>
                <figcaption>
                    <h4>.NET</h4>
                    <p>Apprentissages personnalisés, cours enseignés par des professionnels du monde du travail.</p>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="effect-marley">
                <img src="{{ asset('img/10.jpg')}}" alt="" class="img-responsive"/>
                <figcaption>
                    <h4>Angular</h4>
                    <p>Apprendre de nouveles framework professionnels</p>
                </figcaption>
            </figure>
        </div>
    </div>

    <div class="container">
        <div class="col-md-4">
            <figure class="effect-marley">
                <img src="{{ asset('img/11.jpg')}}" alt="" class="img-responsive"/>
                <figcaption>
                    <h4>Symfony</h4>
                    <p>Apprentissages personnalisés, cours enseignés par des professionnels du monde du travail.</p>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="effect-marley">
                <img src="{{ asset('img/12.jpg')" alt="" class="img-responsive"/>
                <figcaption>
                    <h4>Spring</h4>
                    <p>Apprentissages personnalisés, cours enseignés par des professionnels du monde du travail.</p>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="effect-marley">
                <img src="{{ asset('img/13.jpg')}}" alt="" class="img-responsive"/>
                <figcaption>
                    <h4>Laravel</h4>
                    <p>Apprentissages personnalisés, cours enseignés par des professionnels du monde du travail.</p>
                </figcaption>
            </figure>
        </div>
    </div>
</div>

 {% endblock %}